body{
  background-color: rgba(0, 0, 0, 0.629);
}
.clock-container{
    backdrop-filter: blur(5px);
    width: 100vw;
    padding: 10px 0;
}
.clock{
  color: white;
  font-size: 6rem;
  font-weight: bold;
  font-family: monospace;
  text-align: center;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.479);
}
.digit{
  display: inline-block;
  padding: 0.2em 0.4em;
 
  color: white;
  font-weight: bold;
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #fff;
  border-radius: 10px;
}
.clock {
  -webkit-box-reflect:  below 0px linear-gradient(transparent, rgba(255, 255, 255, 0.496));
}